<!DOCTYPE html>
<html>
    <head>
        <title>myblog</title>
    </head>
    <body>
        <div id = header>
            <p1>Hello Django</p1>
            {% if user.is_authenticated %}
                <p>{{user}}</p>
                <a href = '{% url "logout" %}'>Logout</a>
            {% else %}
                <a href = '{% url "login" %}'>Login</a>
                <a href = '{% url "accounts:signup" %}'>Signup</a>
            {% endif %}
        </div>
        <div class = container>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>